# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env/
.hf_token

# Build and Dist
build/
dist/
*.spec
*_Setup.exe

# Storage Directories
models/
transcripts/
cuda/
setup_state.json

# IDE / Editor
.idea/
.vscode/

# Logs and Errors
err.txt
*.log

# Test / scratch files
test.py
test2.py
test_hfd/
